<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Realizzazione di un sito ecommerce grazie allo studio con scuola Lacerba.io Ruby on Rails">
    <meta name="author" content="Author: Tony Benedetto, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.87.0">
    <meta name="docsearch:language" content="it">
    <meta name="docsearch:version" content="5.1">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="/images/favicon.png" sizes="180x180">
    <link rel="icon" href="images/favicon.png" sizes="32x32" type="image/png">
    <link rel="icon" href="images/favicon.png" sizes="16x16" type="image/png">

    <!-- Titolo scheda -->
    <title>Chi Siamo · Ruby on Rails</title>

        <!-- CSS_Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    
    <!-- Font Adobe - nome font: Hidden Treasure of the Bauhaus Dessau -->
    <link rel="stylesheet" href="https://use.typekit.net/pot1lhz.css">

    <!-- CSS_Personale 
    <link href="css/style.css" rel="stylesheet"> -->


  </head>
    <body>

    <h1 class="font4">Chi Siamo</h1>
    <p>Perchè sto facendo il corso con questa scuola</p>
    <p><%= link_to "Vai alla HOME", root_path %></p>





    <!-- Bundler_Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>

  </body> 
</html>
