<h1>Questa è la mia Home page cazzo</h1>
<p><a href="https://www.tony-benedetto.eu/" target='_blank'>Cliacca quì per capire quanto tu sia una testa di cazzo</a></p>
<p><%= link_to "clicca quì", about_path %></p>
