<footer class="page-footer blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h4 class="white-text">Corso/Lacerba.io</h4>
        <p class="grey-text text-lighten-4">Tornare a scuola per diventare imprenditori del proprio domani.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Legale</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Termini e Condizioni</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Consegna</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Mappa del sito</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s4">
          © 2021 Copyright Tony_Benedetto
        </div>
        <div class="col s4">
          Facebook
        </div>
        <div class="col s4">
          Informativa Cookie
        </div>
      </div>
    </div>
  </div>
</footer>